{% extends 'base.html' %}

{% block title %}
Дивина, яку важко усвідомити: задача про 100 ув`язнених
{% endblock%}


{% block body %}
<div class="container">
    <h2>Ми всі маємо більше шансів, ніж уявляємо</h2>
    <p>Мені здається я знаю в якій країні ця в'язниця). Тим не менш, ось початкові дані.</p>
    <div class="alert alert-success">
        <strong>Увага!</strong> Що, якщо верогідність виживання групи людей залежить виключно від їх готовності
        працювати по зазделегіть узгодженному плану?<br>
        <b> Доведемо це!</b>
    </div>

    <br>
    <p>Маємо в'яницю в якій сто в'язнів, над якими вирішили вчинити експеримент.</p>
    <p>Їх всіх амнестують, якщо кожен із ста виконає певні умови.</p>
    <p>Є кімната, у якій стоїть сто (по кількості в'язнів) скринь. В кожній скрині лежить номер одного із ста в'язнів
        (вони, як звісно, нумеровані).</p>
    <p>В'язня запускають у кімнату і дозволяють йому відкрити 50 будь-яких скринь. Якщо він знайде свій номер, то він
        стає кандидатиом на амністію.</p>
    <p>Якщо всі сто в'язнів знайдуть свій номер у скринях, відкривши не більше 50 скринь, їх всіх амністують. Але, якщо
        бодай один в'язень не знайде свого номера - всіх стратять.</p>
    <p>Виймати, перекладати, спілкуватися під час експерименту - не дозволяється.</p>
    <p>Але в'язням дозволяється до початку експеримента узгодити стратегію проходження цього "квеста".</p>

    <div class="alert alert-danger">
        <strong>Шанси мізерно малі?!</strong> <br>
        Ймовірність того, що один в'язень знайде свій номер у скрині - 50%, а того, що знайдуть двоє - 25%<br>
        Ще менше щансів що знайдуть всі - 0.5 у ступені 100, а саме 8*10Е-31 або<br>
        <b>0.00000000000000000000000000000000078 %</b>
    </div>

    <p>Нижче є відосік, у якому стверждують, що є алгоритм, дотримуючись якого можна збільшити шанси усіх в'язнів до
        30%.</p>
    <br>
    <p>Дуже надихаюче? Але я вирішив перевірити це експериментальним шляхом. Ні, я не поїхав у в'зницю проводити
        експеримент.</p>
    <p>Я відкрив свій <a href="https://www.jetbrains.com/ru-ru/pycharm/">PyChatm</a> і написав код, який створює
        віртуальну кімнату зі скринями та розкидує туди номерки в'язнів.
        Потім програма посилає в'язнів у кімнату, в якій вони по алгоритму, зазначеному у вищезгаданному відеороліку,
        відкривають скрині і шукають свої номерки.<br> Нижче є кнопка, натиснувши на яку, ви можете провести самостійно
        цей експеримент</p>
    <input type="submit" class="btn btn-success" value="Калькулятор розрахунку шансів в'язнів">
    <p>
    <div class="container bgcont center-block">
        <iframe width="854" height="480"
                src="https://www.youtube.com/embed/wWQ9YdreY9c?clip=UgkxCoo7EJFRuCd8zp4O4KUs9SO5gCiV3l2F&amp;clipt=ENULGOyAAQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <p>
    <p>Цей текст для тих, кого курвить витрачати час на YouTube.</p>
    <p>Діамантовий алгоритм, який підвищує щанси всіх в'язнів до 30% наступний.</p>
    <p>1. В'язень зразу іде до скрині під тим номером який має сам.</p>
    <p>2. Відкриває, дивиться на номер - якщо номер у скрині співпадає з його номером, він стає кондидатом на
        звільнення.</p>
    <p>3. Якщо номер у першій скрині не співпадає з номером в'язня, він відкриває скриню під номером, який він знайшов у
        першій скрині.</p>
    <p>4. Якщо в другий скрині він не знайшов, то йде далі по тому самому алгоритму.</p>
    <br>
    <p>Автори відосіка намагаються пояснити яким чином досягається такий шалений відсоток успіху. Це все дуже цікаво,
        але не зрозуміло, особливо для програміста початківця. Саме тому я обрав експериментальний шлях для перевірки
        "всякого із Інтернета"</p>
    <p></p>
</div>
{% endblock%}